
//fonts
$M_Font: "montserrat", sans-serif;
$J_Font: "jost", sans-serif;

//colors
$mne_primary: #11cbee;
$mne_lighter:#B8EFFA;
$mne_secondary:#CEF372;
$mne_text-on-dark:#D9D9D9;

//gradienti
$gradient_1: hsla(202,92%,35%,0.5);
$gradient_2: hsla(202, 92%, 15%, 1);
$gradient_3: hsla(205, 59%, 10%, 0.5);
$gradient_4: hsla(205, 59%, 10%, 1);
$gradient_5: hsl(303, 90%, 32%);

//posizioni dei radial-gradient
$x-rg1: 50%;
$y-rg1: 10%;
$x-rg2: 80%;
$y-rg2: 80%;
$x-rg3: 20%;
$y-rg3: 70%;