@use "globals" as *; //(espone direttamente le variabili senza bisogno di un namespace)
@use "buttons.scss" as btn;
@use "typography.scss" as typo;
@use "breakpoints.scss" as bp;
@use "animations.scss" as anim;

//impedisco lo scroll fino alla fine dell'animazione iniziale
body{
    overflow: hidden;
  }

  #mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    min-height: 100vh;
    width: 100vw;
  }

  main{
    max-width: 1200px;
    background-color: #f0f8ff1a;
  }

  #bbg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-size: 180% 180%;
    @include bp.for-desktop-small{
      animation: rotateBackground 70s linear infinite;
      @include anim.rotateBG;
    }
    @include bp.for-desktop-big-up{
      animation: rotateBackground 70s linear infinite;
      @include anim.rotateBG;
    }
  
    @include grad-var-phone(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
    @include grad-var-tablet(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
    @include grad-var-desktop(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
    //@include grad-var-desktop(50%,10%,80%,80%,20%,70%,25%,5%);
  }

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow:hidden;
    @include bp.for-tablet-up{
      flex-direction: row;
    }
}

.element{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 50vh;
    @include bp.for-tablet-up{
      width:50vw;
    }
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp.for-tablet-up{
      width: 50vw
    }
}
.content{
  width: 80vw;
  height: 40vh;
  //background-color: red;
  color:white;
  @include bp.for-tablet-up{
    height: auto;
  }
}

//*SECTION - Hero
#ghirlanda-element{
    opacity:0.6;
    max-height: 50vh;
    mix-blend-mode: luminosity;
}

#logo_mne {
    opacity:0.2;
    position: absolute;
    @include bp.for-phone {
      max-width: 40vw;
    }
  }
  #heroTitle {
    @include bp.for-tablet-portrait {
      flex-direction: column;
      gap: 0;
      h1 {
        padding: 0;
      }
    }
    @include bp.for-phone {
      flex-direction: column;
      gap: 0;
      margin-bottom: 1.5rem;
      h1 {
        padding: 0;
        font-size: 2rem;
        //margin-bottom: 0.5rem;
        //font-weight: 500;
      }
    }
  }
//*!SECTION

// SECTION - Modules

#modules-element{
    overflow:hidden
}
#modules_svg{
    width: 80vw;
    position: absolute;
}
// #made-for{

// }
#modules-content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    @include bp.for-tablet-up{
      align-items: center
    }
}
#modules-content div{
    position: absolute;
    max-width: 80%;
    h2, p{
        text-align: center;
    }
}
#made_for {
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 0;
  text-shadow:
      0 0 7px rgba(184, 239, 250, 1),
      0 0 10px rgba(184, 239, 250, 1),
      0 0 42px rgba(184, 239, 250, 1);
 }
#module-txt_2{
    opacity: 0;
}
#module-txt_3{
    opacity: 0;
}

//*!SECTION

// SECTION - Phases
#phases-element{
    // width: 100%;
    // min-height: 900px;
    // @include bp.for-phone{
    //   min-height: 400px;
    // }
    #logoPhase{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: 10vw;
      max-width: 122px;
      min-width: 72px;
      opacity: 0.1;
    }
    #Market_svg {
      position: absolute;
      // top: calc(50% + 5rem);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      // opacity: 0.3;
      width: 41.5vw; /* Dimensione proporzionale alla larghezza della viewport */
      max-width: 500px;
      min-width: 300px;
      #m_100_circle_ecosys_3 {
        opacity: 0.6;
      }
  
    }
    #Post_svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
     width: 35.3vw;
      max-width: 425.66px;
      min-width: 253px;
      #m_100_circle_ecosys_2 {
        opacity: 0.6;
      }
    }
    #Production_svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: 30vw;
      max-width: 362px;
      min-width: 213px;
      #m_100_circle_ecosys_1 {
        opacity: 0.6;
      }
    }
    #Pre_svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centro preciso */
      height: auto;
      width: 25vw;
      max-width: 302px;
      min-width: 175px;
      #m_100_circle_ecosys_0 {
        opacity: 0.6;
      }
    }
  }
//   #phases-content{
//     display: flex;
//     align-items: flex-start;
//     justify-content: center;
//     @include bp.for-tablet-up{
//       align-items: center
//     }
// }
  #phases-content{
    width: 95vw; 
  }
  
//*!SECTION