@use "globals" as *; //(espone direttamente le variabili senza bisogno di un namespace)
@use "buttons.scss" as btn;
@use "typography.scss" as typo;
@use "breakpoints.scss" as bp;
@use "animations.scss" as anim;

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

#bbg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -20;
  background-size: 180% 180%;
  -webkit-animation: rotateBackground 50s linear infinite;
  animation: rotateBackground 50s linear infinite;
  @include anim.rotateBG;
  @include bp.for-desktop-small {
    -webkit-animation: rotateBackground 70s linear infinite;
    animation: rotateBackground 70s linear infinite;
    @include anim.rotateBG;
  }
  @include bp.for-desktop-big-up {
    -webkit-animation: rotateBackground 70s linear infinite;
    animation: rotateBackground 70s linear infinite;
    @include anim.rotateBG;
  }

  @include grad-var-phone(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
  @include grad-var-tablet(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
  @include grad-var-desktop(50%, 10%, 80%, 80%, 20%, 70%, 0.25%, 50%);
  //@include grad-var-desktop(50%,10%,80%,80%,20%,70%,25%,5%);
}

.element {
  // background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1em;
  width: 100%;
  height: 50vh;
  @include bp.for-tablet {
    height: 60vh;
  }
  @include bp.for-tablet-portrait-up {
    height: 70vh;
  }

  .circular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50vh - 2em);
    height: 100%;
    border-radius: 50%;
    // background-color: blue;
    // border-radius: 50%;
    @include bp.for-tablet {
      width: calc(60vh - 2em);
    }
    @include bp.for-tablet-portrait-up {
      width: calc(70vh - 2em);
    }
  }
}
.wrapper {
  // background-color: aquamarine;
  position: relative;
  width: 100%;
  height: calc(50vh - 70px);
}
.content {
  // background-color: red;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 2em;
  width: 100%;
  height: 100%;
  color: white;
  &.hero{
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2em;
  }
}

#sectionsWrapper {
  width: 100vw;
  max-width: 1200px;
  height: calc(100vh - 70px);
  //position: relative; /* Contenitore relativo per le sezioni sovrapposte */
}

.section_fixed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  opacity: 0;
  overflow: hidden;
  margin-bottom: 6rem;
  &.hero {
    justify-content: flex-start;
  }
}

.nofixed_section {
  background: $gradient_4;
  background: linear-gradient(0deg, $gradient_4 80%, $gradient_4_0 100%);
  z-index: 30;
  //padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  .preMade {
    width: 100%;
    height: 100px;
  }
}
.nofixed-inner-wrapper {
  width: 100vw;
  max-width: 1200px;
  padding: 2rem;
}

//*SECTION - Hero

#heroTitle {
  flex-direction: column;
  gap: 0;
  margin-bottom: 1.5rem;
  h1 {
    padding: 0;
    font-size: 2rem;
    //margin-bottom: 0.5rem;
    //font-weight: 500;
  }
  @include bp.for-tablet {
    flex-direction: row;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    h1 {
      padding: 0;
    }
  }
}
#hero-content {
  @include bp.for-desktop-big-up-h-reduced {
    // W-1200px H-750px up
    //margin-top: -100px;
    margin-bottom: 100px;
  }
}
#canvasLogo {
  margin-top: 100px;
  position: absolute;
  z-index: 5;
  @include bp.for-phone {
    // W-1200px H-750px up
    margin-top: 30px;
  }
}
#canvasPayoff {
  margin-top: 70px;
  position: absolute;
  max-width: 960px;
  z-index: 5;
  @include bp.for-phone {
    // W-1200px H-750px up
    margin-top: 0px;
  }
}
//*!SECTION