@use "globals" as *; //(espone direttamente le variabili senza bisogno di un namespace)
@use "buttons.scss" as btn;
@use "typography.scss" as typo;
@use "breakpoints.scss" as bp;
@use "animations.scss" as anim;

#ghirlanda-element, #phases-element{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#hero-content-wrapper, #modules-content-wrapper, #phases-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-content,#modules-content,#phases-content{
    width: 80vw;
    height: 40vh;
    //background-color: red;
    color:white;  
}

//*ANCHOR - Modules section

#modules-element{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 50vh;
}
#modules_svg{
    width: 80vw;
    position: absolute;
}
// #made-for{

// }
#modules-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
#modules-content div{
    position: absolute;
    max-width: 80%;
    h2, p{
        text-align: center;
    }
}
// #module-txt_1{

// }
#module-txt_2{
    opacity: 0;
}
#module-txt_3{
    opacity: 0;
}