@use "globals" as *; //(espone direttamente le variabili senza bisogno di un namespace)
@use "buttons.scss" as btn;
@use "typography.scss" as typo;
@use "breakpoints.scss" as bp;

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

///*SECTION - background gradients + animation
#bbg {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-size: 180% 180%;
  background-image: radial-gradient(circle at $x-rg1 $y-rg1, $gradient_1 0.25%, $gradient_3 50%, transparent),
    radial-gradient(circle at $x-rg2 $y-rg2, $gradient_2 0.25%, $gradient_4 20%, transparent),
    radial-gradient(circle at $x-rg3 $y-rg3, $gradient_2 0.25%, $gradient_4 40%);
  animation: rotate-background 5s linear infinite;

  @include grad-var-tablet(30%, 36%, 56%, 10%, 21%, 80%);
  @include grad-var-phone(10%, 30%, 24%, 50%, 21%, 2%);
}
// @keyframes gradient-animation {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }
@keyframes rotate-background {
  0% {
    background-position: 50% 0%;
  }
  12% {
    background-position: 75% 25%;
  }
  25% {
    background-position: 100% 50%;
  }
  37% {
    background-position: 75% 75%;
  }
  50% {
    background-position: 50% 100%;
  }
  62% {
    background-position: 25% 75%;
  }
  75% {
    background-position: 0% 50%;
  }
  87% {
    background-position: 25% 25%;
  }
  100% {
    background-position: 50% 0%;
  }
}
///*!SECTION
///*SECTION - Ghirlande
//*ANCHOR -  Ghirlanda up dx
.ghirlanda-updx {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: luminosity;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;

  img {
    width: 550px;
    //transform: rotate(10deg);
    position: absolute;
    top: 0px;
    right: -50px;
  }
}
.ghirlanda-updx.l2 {
  opacity: 0.2;
  // img {
  //   transform: rotate(20deg);
  // }
}
///*ANCHOR -  ghirlanda down sx
.ghirlanda-dwsx {
  overflow: hidden;
  width: 100vw;
  height: 100%;
  mix-blend-mode: luminosity;
  opacity: 0.6;
  position: absolute;
  left: 0;
  bottom: 0;

  img {
    width: 550px;
    //transform: rotate(10deg);
    position: absolute;
    bottom: 120px;
    left: -70px;
  }
}
///*!SECTION

///*ANCHOR -  Hero section

// #heroTitle{

// }

///*SECTION ------MEDIA QUERIES-------///

///*!SECTION
