@use 'globals' as *;
h1 {
    font-size: 300px;
    color: $mne_primary;
    // font-weight: bold;
    padding: 20px 0;
    font-family: "montserrat", sans-serif;
    .light & {
        color: #151515;
    }
}
// h2 {
//     font-size: 22px;
//     color: antiquewhite;
//     font-family: "montserrat", sans-serif;
// }
// h3 {
//     padding: 10px 0;
//     font-size: 18px;
//     color: azure;
//     font-family: "montserrat", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }
// p {
//     font-size: 14px;
//     line-height: 21px;
//     color: #dadada;
//     padding-bottom: 10px;
//     font-family: "open sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 300;
//   font-style: normal;
// }