@use 'globals' as *;

*{
    font-family: $J_Font;
}

h1 {
    font-size: 30px;
    color: $mne_primary;
    font-weight: 400;
    padding: 20px 0;
    .light & {
        color: #151515;
    }
}
// h2 {
//     font-size: 22px;
//     color: antiquewhite;
//     font-family: "montserrat", sans-serif;
// }
// h3 {
//     padding: 10px 0;
//     font-size: 18px;
//     color: azure;
//     font-family: "montserrat", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }
p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #dadada;
    padding-bottom: 10px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}